
@model Online_game_store.ViewModels.ShoppingCartViewModel

@{
	ViewBag.Title = "Index";
}

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
	$(function () {
		// Document.ready -> link up remove event handler
		$(".RemoveLink").click(function () {
			// Get the id from the link
			var recordToDelete = $(this).attr("data-id");
			if (recordToDelete != '') {
				// Perform the ajax post
				$.post("/ShoppingCarts/RemoveFromCart", { "id": recordToDelete },
					function (data) {
						// Successful requests get here
						// Update the page elements
						if (data.ItemCount == 0) {
							$('#row-' + data.DeleteId).fadeOut('slow');
						} else {
							$('#item-count-' + data.DeleteId).text(data.ItemCount);
						}
						$('#cart-total').text(data.Total);
						$('#cart-status').text(data.Count);
					});
			}
		});
	});
</script>

<div>
	<h1 class="text-center text-success" style="margin-bottom:30px;">Your shopping cart</h1>
    <hr />
	<table id="cart" class="table table-hover table-condensed">
		<thead>
			<tr>
				<th style="width:50%">Game</th>
				<th style="width:10%">Price</th>
				<th style="width:8%">Pieces</th>
				<th style="width:22%" class="text-center">Subtotal</th>
				<th style="width:10%"></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.ShoppingCartItems)
			{
				<tr id="row-@item.GameId">
					<td data-th="Product">
						<div class="row">
							<div class="col-sm-2 hidden-xs">
								<img src="@item.game.ImageUrl" alt="..." class="img-responsive" />
							</div>
							<div class="col-sm-10">
								<h4 class="nomargin">@item.game.Name</h4>
								<p>@item.game.Desctiption</p>
							</div>
						</div>
					</td>
					<td data-th="Price">@item.game.Price $</td>
					<td data-th="Pieces" id="item-count-@item.GameId">@item.Ammount</td>
					<td data-th="Subtotal" class="text-center">@((item.Ammount * item.game.Price).ToString("c"))</td>
					<td>
					<td class="actions"  data-th="">
						<button class="RemoveLink btn btn-danger outline" data-id="@item.GameId">Remove</button>
					</td>
				</tr>
			}
		</tbody>
		<tfoot>
			<tr class="visible-xs">
				<td class="text-center"><strong>Total @Model.CartTotal.ToString("c")</strong></td>
			</tr>
			<tr>
				<td>@Html.ActionLink("Go Back", "Index", "Games", null, new { @class = "btn btn-warning outline" })</td>
				<td colspan="2" class="hidden-xs"></td>
				<td class="hidden-xs text-center">
					Total @Model.CartTotal.ToString("c")
				</td>
				<td colspan="1" class="hidden-xs"></td>
				<td>@Html.ActionLink("Payment", "Payment", "Payments", null, new { @class = "btn btn-success outline" })</td>
			</tr>
		</tfoot>
	</table>
</div>

<style>

	.outline {
		background-color: transparent;
		color: inherit;
		transition: all .25s;
	}

	.btn-success.outline {
		color: #5cb85c;
	}

	.btn-success.outline:hover {
			color: #fff;
	}

	.btn-danger.outline {
		color: red;
	}

	.btn-danger.outline:hover {
		color: #fff;
	}

	.btn-warning.outline {
		color: orange;
	}

	.btn-warning.outline:hover {
		color: #fff;
	}


@@media screen and (max-width: 600px){
	table#cart thead {
		display: none;
	}

	table#cart tbody td {
		display: block;
		padding: .6rem;
		min-width: 320px;
	}

	table#cart tbody tr td:first-child {
		background: #333;
		color: #fff;
	}

	table#cart tbody td:before {
		content: attr(data-th);
		font-weight: bold;
		display: inline-block;
		width: 8rem;
	}


	table#cart tfoot td {
		display: block;
	}

		table#cart tfoot td .btn {
			display: block;
		}
	}

	.table > tbody > tr > td, .table > tfoot > tr > td {
		vertical-align: middle;
	}
</style>
