@model Online_game_store.Models.Game

@{
    ViewBag.Title = "Details";
}



<div class="container">
    <div class="row">
        <h2 class="text-center text-success">@Html.DisplayFor(model => model.Name)</h2>
        <hr />
    </div>
    <div id="details">
        <div class="row">
            <div class="col-lg-6">
                <img class="img-responsive" src="@Html.DisplayFor(model => model.ImageUrl)" alt="">
            </div>
            <div class="col-lg-6 content">
                <p>@Html.DisplayFor(model => model.Desctiption)</p>
                <p><strong>@Html.DisplayNameFor(model => model.Manufacturer):</strong> @Html.DisplayFor(model => model.Manufacturer)</p>
                <p><strong>@Html.DisplayNameFor(model => model.Genre):</strong> @Html.DisplayFor(model => model.Genre)</p>
                <p><strong>@Html.DisplayNameFor(model => model.ReleaseDate):</strong> @Html.DisplayFor(model => model.ReleaseDate)</p>
                <p><strong>@Html.DisplayNameFor(model => model.Size):</strong> @Html.DisplayFor(model => model.Size)</p>
                <p><strong>@Html.DisplayNameFor(model => model.Rating):</strong> @Html.DisplayFor(model => model.Rating)</p>
                <p><strong>@Html.DisplayNameFor(model => model.Price):</strong> &euro; @Html.DisplayFor(model => model.Price)</p>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-6">@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-warning outline" })</div>
        <div class="col-lg-6">
            <a href="@Url.Action("AddToShoppingCart", "ShoppingCarts", new { id=Html.DisplayFor(model => model.GameId)})" class="btn btn-success outline">
                <i class="glyphicon glyphicon-shopping-cart"></i> Add to shopping cart
            </a>
        </div>
    </div>
    <br />
</div>

<style>
    .outline {
        background-color: transparent;
        color: inherit;
        transition: all .25s;
    }

    .btn-warning.outline {
        color: orange;
    }

        .btn-warning.outline:hover {
            color: #fff;
        }

    .content {
        line-height: 26px;
    }

    #details {
        padding: 60px 0 30px 0;
    }

    .btn-success.outline {
        color: #5cb85c;
    }

        .btn-success.outline:hover {
            color: #fff;
        }
</style>
