<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-fixed-top bg-success main-menu" >
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("GAMERS STOP", "Index", "Home", new { area = "" }, new { @class = "navbar-brand main-menu" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Games", "Index", "Games", null, new { @class = "main-menu" })</li>
                    <li>@Html.ActionLink("About", "About", "Home", null, new { @class = "main-menu" })</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "main-menu" })</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-md-offset-4">
					<h6 class="text-center" style="font-weight: bold;">Faculty Of Computer Science And Engineering</h6>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-md-offset-4">
					<h6 class="text-center">"Rugjer Boshkovikj 16"</h6>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-md-offset-4">
					<h6 class="text-center">1000 Skopje, Republic of Macedonia</h6>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-md-offset-4">
					<h6 class="text-center"><i class="glyphicon glyphicon-phone"></i> (02) 123 4567</h6>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-md-offset-4">
					<h6 class="text-center"><i class="glyphicon glyphicon-envelope"></i> example@finki.ukim.mk</h6>
				</div>
			</div>
			<br>
			<br>
			<div class="row">
				<div class="col-md-4 col-md-offset-4">
					<h6 class="text-center">Copyright &copy; FINKI 2019</h6>
				</div>
			</div>
		</div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

</html>

<style>
	.main-menu {
		font-family: "Open Sans", sans-serif;
		font-size: 16px;
		color: dimgray;	
	}
    .navbar-brand {
        color: black;
        font-weight: bold;
    }
</style>
